<div class="container app">
    <!-- Titulo, alerta -->
    <div class="row">
        <div class="col">
            <h1 class="text-right">
                {{title}}
            </h1>
        </div>
        <div class="col" *ngIf="false">
            <div class="alert alert-success alert-dismissable" *ngIf="msg">
                <a href="#" class="close" (click)="closeAlert()">
                &times;
              </a> {{msg}}
            </div>
        </div>
    </div>

    <!-- imagen y Formulario -->
    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <img src="https://png.pngtree.com/element_pic/00/16/07/115783931601b5c.jpg" alt="">
        </div>
        <div class="col-sm-12 col-lg-8 text-center">
            <h2>Mostrar datos:</h2>
            <table class="table table-bordered table-hover ">
                <thead>
                    <th>NOMBRE</th>
                    <th>PUESTO</th>
                    <th>ACCIONES</th>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of empleados; let i = index">

                        <!-- No editar -->
                        <td (click)="empleado.editar = !empleado.editar" class="pointer" *ngIf="!empleado.editar">{{ empleado.nombre }}</td>
                        <td (click)="empleado.editar = !empleado.editar" class="pointer" *ngIf="!empleado.editar">{{ empleado.puesto }}</td>

                        <!-- editar -->
                        <td *ngIf="empleado.editar"><input type="text" class="form-control" placeholder="nombre" [(ngModel)]="empleado.nombre" [value]="empleado.nombre"></td>
                        <td *ngIf="empleado.editar"><input type="text" class="form-control" placeholder="puesto" [(ngModel)]="empleado.puesto" [value]="empleado.puesto"> </td>

                        <!-- botones -->
                        <td>
                            <button *ngIf="empleado.editar" type="button" class="btn btn-success mr-1" (click)="empleado.editar = !empleado.editar">Guardar</button>
                            <button (click)="eliminarEmpleado(empleado.nombre)" type="button" class="btn btn-danger">Elminar</button>
                        </td>
                    </tr>

                    <!-- Agregar registro -->
                    <tr>
                        <td> <input [(ngModel)]="model.nombre" type="text" class="form-control" name="nombre" id="nombre" aria-describedby="nombre" placeholder="Introduce el nombre"></td>
                        <td> <input [(ngModel)]="model.puesto" type="text" class="form-control" name="puesto" id="puesto" aria-describedby="puesto" placeholder="Introduce el cargo"></td>
                        <td> <button (click)="agregarEmpleado()" type="button" class="btn btn-primary">Agreagar</button> </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>