<td scope="row">
    <button type="button" class="btn btn-primary">Recargar</button>
</td>

<!-- Nombre -->
<td>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Buscar nombre ...">
    </div>
</td>

<!-- Apellido -->
<td>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Buscar apellido ...">
    </div>
</td>

<!-- correo -->
<td>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Buscar correo ...">
    </div>
</td>


<!-- Telefono -->
<td>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Buscar telefono ...">
    </div>
</td>

<!-- estado -->
<td>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Buscar estado ...">
    </div>
</td>